html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	min-width: 800px;
}

label {
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 10px;
}

button {
	margin-bottom: 5px;
	font-size: 1.2em;
}

td {
	border: 1px solid rgb(192, 192, 192);
	width: 15px;
	height: 15px;
}